<div class="absolute inset-0 overflow-auto dark:bg-slate bg-gray-50">
  <div class="sticky flex flex-row justify-center top-0 p-2 dark:bg-boulder bg-gray-50 border-b-2 border-euros rounded-b-md shadow-sm">
    <embed src="/assets/svg/logo.svg" class="max-h-8" />
  </div>
  <div class="flex flex-col flex-1 h-full">{{ outlet }}</div>
</div>